:root {
  --fundo: #F5F6F8;
  --principal: #1F3A5F;
  --azul-secundario: #4A6FA5;
  --azul-claro: #E4ECF5;
  --titulo: #1C1C1C;
  --subtitle: #6B7280;
  --neutra: #F9FBFD;
  --contornos: #E0E4EA;


  --font-primary: 'Poppins', sans-serif;
}
